body {
    background-color: #2c3e50;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 50px;
    color: #23bbcf;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #2980b9;
}

input[type="text"]{
    padding: 15px;
    font-size: 18px;
    border: 2px solid #3498db;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 20px;
    outline: none;
}

input[type="text"]:focus {
    background-color: #eaf2f8;
}