<!DOCTYPE html>
<html>

<head>
    <title>Website Keren Saya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    {% if orang %}
        <img src="{{ url_for('static', filename='ngapain.jpg') }}" alt="my face"    class="logo-gambar">
        <h1>Hmmmff, {{ orang }}!</h1>
        <p>Ngapain Masss??</p>
        <a href="/"><button>Ganti nama</button></a>

    {% else %}
        <img src="{{ url_for('static', filename='siapa.jpg') }}" alt="my face"  class="logo-gambar">
        <h1>Siapa yaaa??</h1>

        <form method="POST">
            <input type="text" name="nama_input" placeholder="Ketik Nama disini...">
            <button type="submit">Kirim nama</button>
        </form>

    {% endif %}
</body>

</html>